<!DOCTYPE html>
<html ng-app="imdbclone">

<head>
    <title>imdbclone</title>
    <meta charset="utf-8">
    <base href="/" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/ngApp/css/site.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/a00b68974a.js"></script>
</head>

<body>
    <div class="container">

    </div>
    <div class="container container-div" >
        <div class="navbar navbar-inverse navDiv">
            <div class="navbar-header">
                <a class="navbar-brand active" href="/"><img src="http://ia.media-imdb.com/images/M/MV5BMTU2MjAxODIwNV5BMl5BanBnXkFtZTcwNjE2MDIzOA@@._V1_.jpg" alt="" style="width:100px; height:auto"/></a>
            </div>
            <form class="from-group" ng-submit:'search()'>
                <span>
                    <input type="text" name="name" placeholder="Find movies..."
                    ng-model='moviesAndTV' size="70">

                    <select class='test' ng-model='selected' ng-options="" >
                        <option selected>All</option>
                        <option>Movie</option>
                        <option>Celeb</option>

                    </select>
                    <button type="button" class="btn btn-default btn-sm"><span class='glyphicon glyphicon-search'></span>Search</button>
                </span>
            </form>

            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <div class="dropdown">
                        <button class="dropbtn"><a href="/movies">Movies</a></button>
                        <div class="dropdown-content">
                            <a href="#"><bold>MOVIES </bold></a>
                            <a href="#">CHARTS & TRENDS</a>
                            <a href="#">TV & VIDEO</a>
                            <a href="#">SPECIAL FEATURES</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn"><a href="/celebs">Celebs<a></button>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </div>


                                <button class="dropbtn"><a href="/watchlist">Watchlist <a></button>



                            </ul>
                             <div ng-controller="navbarController as vm">

                                 <ul class="nav navbar-nav navbar-right underline">

                                     <span  ng-show='vm.getUsername'><a href="">{{vm.message}} {{vm.getUsername()}}</a></span>
                                     <sapn  ng-show='!vm.getUsername()'><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></sapn >
                                    <sapn  ng-show='!vm.getUsername()'><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></sapn >

                                     <span ng-show='vm.getUsername()'><a href="#" ng-click='vm.logout()'><span class="glyphicon glyphicon-log-out"></span> Logout</a></sapn >
                                 </ul>
                            </div>

                        </div>

                    </div>

                    <ui-view></ui-view>
                    <hr>
                    <footer class="from-group" >
                        <p>Posted by: Ann Wang</p>
                        <p>Contact information: <a href="lifeiwanguk@gmail.com">
                            lifeiwanguk@gmail.com</a>.</p>
                        </footer>
                    </div>

                    <script src="/bower_components/angular/angular.min.js"></script>
                    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
                    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
                    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
                    <script src="/bower_components/angular-touch/angular-touch.min.js"></script>
                    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
                    <script src="https://www.youtube.com/iframe_api"></script>
                    <script src="/bower_components/angular-youtube-mb/dist/angular-youtube-embed.min.js"></script>


                    <script src="/ngApp/app.js"></script>

                    <script src="/ngApp/services/services.js"></script>
                    <script src="/ngApp/services/movieService.js"></script>
                    <script src="/ngApp/services/celebService.js"></script>
                    <script src="/ngApp/services/homeMovieService.js"></script>
                    <script src="/ngApp/services/tagService.js"></script>
                    <script src="/ngApp/services/loginService.js"></script>



                    <script src="/ngApp/controllers/controllers.js"></script>
                    <script src="/ngApp/controllers/movieController.js"></script>
                    <script src="/ngApp/controllers/celebsController.js"></script>
                    <script src="/ngApp/controllers/movieDetailsController.js"></script>
                    <script src="/ngApp/controllers/tagDetailsController.js"></script>
                    <script src="/ngApp/controllers/addTagController.js"></script>
                    <script src="/ngApp/controllers/navbarController.js"></script>
                    <script src="/ngApp/controllers/loginController.js"></script>
                    <script src="/ngApp/controllers/watchlistController.js"></script>
                    <script src="/ngApp/controllers/registerController.js"></script>








                </body>

                </html>
