<h1>Choose your nearest restaurant</h1>

<select ng-model="selectedContry" ng-options="c.country for c in vm.contries"></select>
<!--<h1>{{selectedContry}}</h1>
<!--<h1>{{selectedContry._id}}</h1>-->
<div class="row form-group" ng-repeat ='c in vm.contries|filter:selectedContry'>
    <div class="col-md-12"  >
        <!--
        <img
        ng-src="{{c.ImageUrl}}"
        alt="location info"
        class='img-responsive img-rounded'
        ng-click='controller.getCarDetails(c.id)'/>
    -->
    <!--
        <div class="form-group">-->
        <h1>
        Location:
        </h1>
            <p>
                {{c.location}}
            </p>

            <p><h3>Phone: </h3>{{c.phone}}
            </p>
            <!--
        </div>
        -->
        <hr>
    </div>
</div>
