
<div class="container">

    <a href="/menue"><p>
        {{vm.message}}
    </p></a>
    <div class="row" >
        <div class="col-sm-6">
            <img
            class="img-responsive"
            src="https://momofuku-assets.s3.amazonaws.com/uploads/sites/23/2015/11/G5A8488-1350x900.jpg"
            style=' height: 480px;'
            alt="" />
        </div>
        <div class="col-sm-1">


        </div>

        <div class="col-sm-5">
            <p>
                <strong>Cocktails</strong>
            </p>
            <div ng-repeat='d in vm.drinks'>

                <p>
                    {{d.name}} - {{d.detail}} <strong>{{d.price|currency}}</strong>
                </p>
                <p ng-show=''>

                </p>
            </div>
            {{vm.isAdmin()}}

            <div ng-show="vm.isAdmin()">
                <button ng-click='vm.tryAddDrink()' type="button" class="btn btn-success btn-block">Add</button>
                <button ng-click='vm.editDrink()' type="button" class="btn btn-default btn-block">Edit</button>
                <button ng-click='vm.deleteDrink()' type="button" class="btn btn-danger btn-block">Delete</button>
            </div>
        <!-- </div> -->
        </div>
    </div>
</div>
