
<div class="container">
    <a href="/menue"><p>
        {{vm.message}}
    </p></a>
    <div class="row">
        <div class="col-sm-6">
            <img
            class="img-responsive"
            src="https://momofuku-assets.s3.amazonaws.com/uploads/sites/10/2015/10/countryhamsredeyegravy-600x900.jpg" alt="" />
        </div>
        <div class="col-sm-1">


        </div>

        <div class="col-sm-5">
            <p>
                <strong>Cocktails</strong>
            </p>
            <div ng-repeat='d in vm.drinks'>

                <p>
                    {{d.name}} - {{d.detail}} <strong>{{d.price|currency}}</strong>
                </p>
            </div>
            <!-- <div ng-show="vm.getAdmin()"> -->
                <button ng-click='vm.tryAddDrink()' type="button" class="btn btn-success btn-block">Add</button>
                <button ng-click='vm.editDrink()' type="button" class="btn btn-default btn-block">Edit</button>
                <button ng-click='vm.deleteDrink()' type="button" class="btn btn-danger btn-block">Delete</button>
            <!-- </div> -->
                </div>

    </div>



</div>
