
<div class="hover">
    <figure><a href="/menue"><img

        class='homeImg'
        src="https://momofuku-assets.s3.amazonaws.com/uploads/2015/03/fideos2-1.jpg"
        alt="homeImg"
        style="margin-top: 0px; height: 605px; width:1170px"/></a></figure>
        <div class="overlay">
                    <h2>Welcome to WOW</h2>
                    <p class="icon-links">
                        <a href="http://www.superfeifei.com/">
                            <span class="fa fa-twitter fa-2x"></span>
                        </a>
                        <a href="http://www.superfeifei.com/">
                            <span class="fa fa-facebook fa-2x"></span>
                        </a>
                        <a href="http://www.superfeifei.com/">
                            <span class="fa fa-instagram fa-2x"></span>
                        </a>
                    </p>
                </div>
</div>
