<h1>You can find all you want here</h1>

<h3>
    <a href="/menueCreate">Create a new food...</a>
</h3>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <input type="text" placeholder="search for a food..."
            ng-model='menueTitle' class="form-control menue">

            </div>
        </div>


<!--
    <div class="row">
        <div class="col-md-3 " class='form-control' ng-repeat='m in vm.menues|filter:{name:menueTitle}'>

            <img
                ng-src='{{m.url}}'
                class="img-responsive img-rounded foodImg"
                ng-click="v.getMenueDetails(m.id)"
                alt="image" />
                <h2 class='foodImg'text-align='center'>{{m.name}}</h2>

        </div>

    </div>
-->

    <div class="row" ng-repeat='row in vm.menues'>
        <div class="col-md-3 foodName" ng-repeat='m in row |filter:{name:menueTitle}'>
            <img
                width="300" height="320"
                ng-src='{{m.url}}'
                class="img-responsive img-rounded foodImg"
                ng-click="v.getMenueDetails(m.id)"
                alt="image" />
                <h2 >{{m.name}}</h2>
                <p>{{m.price|currency}}</p>
        </div>

    </div>

</div>


        <!-- <table class="table table-border">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Speicy
                </th>
                <th>
                    price
                </th>
                <th>
                    <i class="fa fa-cog" aria-hiddern='true'></i>
                </th>
            </tr>
            <tr ng-repeat='m in controller.menues'>
                <td>
                    {{m.name}}
                </td>
                <td>
                    {{m.speicy}}
                </td>
                <td>
                    {{m.price}}
                </td>
                <td>
                    <button class="btn btn-danger btn-sm" name="button"
                    ng-click='controller.deleteMenue(m.id)'>Delete</button>
                    <button class="btn btn-warning btn-sm" name="button"
                    ng-click='controller.gotoEditPage(m.id)'>Edit</button>
                </td>
            </tr>

        </table> -->
