<header>
    <div class="well">
        <a href="#"><h1>advertisenment</h1></a>
    </div>


    
</header>


<div class="row" >
    <div class="col-sm-offset-1 col-sm-2">
        <img src="{{vm.celebMovies.celeb.imageUrl}}" alt="imageUrl" height='180' width="150"/>

    </div>
    <div class="col-sm-8">
        <a class="btn btn-lg btn-default btn-sm" href="#" >
        <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true" ng-click='vm.celebMovies.likeCeleb()'></i>{{vm.celebMovies.celeb.like}}</a>
        <a class="btn btn-lg btn-default btn-sm" ng-click='vm.celebMovies.dislikeCeleb()'>
        <i class="fa fa-thumbs-o-down  fa-2x" aria-hidden="true" ></i>{{vm.celebMovies.celeb.dislike}}</a>
        <div class="">
            <strong>KnownFor: </strong>
            <div ng-repeat="m in vm.celebMovies.movies">
                 <a href="/movies/{{m._id}}">{{m.title}}</a>

            </div>

        </div>

    </div>


</div>
