<div class="well">
    <h1>
        Ads
    </h1>

</div>
    <div class="well" ng-repeat='m in vm.movies'>
        <div class="row">
            <div class="col-sm-3">
                <a href="/movies/{{m._id}}"><img ng-src="{{m.url}}" alt="image" height='300px' width='250px'/></a>
                <hr>
            </div>

            <div class="col-sm-9">

                <a href="/movies/{{m._id}}"><h2>{{m.title}}</h1></a>

                    <p>
                        Metascore: {{m.rate}}/10
                    </p>
                    <div ng-repeat="cast in m.celebs">
                        <p>
                            <strong>Cast:</strong>
                            <a href="celebs/{{cast._id}}">{{cast.firstName}} {{cast.lastName}}</a>
                        </p>


                    </div>

                    <p>
                        Introduction:<br>
                        {{m.introduction}}
                    </p>

            </div>
        </div>



    </div>
