<div ng-show="controller.isEditMode">

    <div class="modal-header"><h1>{{controller.customer.firstName}} {{controller.customer.secondName}}</h1></div>

    <div class="modal-body">
        <form ng-submit="controller.saveCustomer()">
            <div class="form-group">
                <label for="firstName">FirstName</label>
                <input type="text" class="fomr-control" ng-model='controller.customer.firstName'>
            </div>

            <div class="form-group">
                <label for="secondName">SecondName</label>
                <input type="text" class="fomr-control" ng-model='controller.customer.secondName'>
            </div>

            <div class="form-group">
                <label for="age">Age</label>
                <input type="text" class="fomr-control" ng-model='controller.customer.age'>
            </div>

            <div class="form-group">
                <label for="url">URL</label>
                <input type="text" class="fomr-control" ng-model='controller.customer.url'>
            </div>

            <div class="form-group">
                <input type="submit" class='btn btn-primary btn-block btn-sm' value="save">
                <input type="button" class="btn btn-danger btn-block btn-sm" ng-click='controller.cancelSave()' value="Cancel">
                <input type="button" class="btn btn-block btn-success btn-sm" name="button"
                ng-click='controller.closeModal()' value="Close"></button>
            </div>
        </form>
    </div>

</div>
